.contact-page {
  &_contact-block {
    display: flex;
    align-items: baseline;
    margin-bottom: .5rem;
  }
  &_social-container {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
  }
}

.contact-button {
  background: #000;
  color: #fff;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 100;
  border: none;
  text-transform: uppercase;
  padding: .5rem 1rem;
  margin: 1.5rem 0;
  &_container {
    text-align: center;
  }
  &:focus, &:active {
    outline: none;
  }
}
