// initializing all sass variables here so they will be available to all stylesheets
$medium-down: 'max-width: 768px';
$medium-up: 'min-width: 768px';
$text-light-gray: lightgray;

@import 'layout';
@import 'navigation';
@import 'homepage';
@import 'contact';
@import 'skills';
@import 'about';

body {
  font-family: sans-serif;
}

.page-content {
  &_title {
    margin: 1rem 0;
    font-weight: 800;
    font-size: 3.25rem;
  }
  &_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &_block {
    margin: .5rem 18rem;
    font-size: 1.25rem;
    line-height: 32px;
    font-weight: 100;
  }
}

@media ($medium-down) {
  .page-content {
    &_title {
      margin: .5rem 0;
      &--home {
        margin-left: 1rem;
      }
    }
    &_wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &_block {
      margin: .5rem 1.25rem;
    }
  }
}

button {
  &:active, &:focus {
    outline: none !important;
  }
}
